In [1]:
import great_expectations as ge
data = ge.read_excel('/home/vy/sample.xls')
data

     0 First Name  Last Name  Gender        Country   Age        Date    Id
0    1      Dulce      Abril  Female  United States  32.0  15/10/2017  1562
1    2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582
2    3     Philip       Gent    Male         France  36.0  21/05/2015  2587
3    4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549
4    5    Nereida    Magwood  Female  United States  58.0  16/08/2016  2468
5    6     Gaston      Brumm    Male  United States  24.0  21/05/2015  2554
6    7       Etta       Hurn  Female  Great Britain  56.0  15/10/2017  3598
7    8    Earlean     Melgar  Female  United States  27.0  16/08/2016  2456
8    9   Vincenza    Weiland  Female  United States  40.0  21/05/2015  6548
9   10      Dulce      Abril  Female  United States   NaN  15/10/2018  1563
10  11       Mara  Hashimoto  Female  Great Britain  26.0  16/08/2017  1583
11  12     Philip       Gent    Male         France   NaN  21/05/2016  2588
12  13   Kathleen     Hanner  Female  United States  26.0  15/10/2018  3550
13  14       Etta       Hurn  Female  Great Britain  57.0  15/10/2018  3599
14  15    Earlean     Melgar  Female  United States  28.0  16/08/2017  2457
15  16   Vincenza    Weiland  Female  United States  41.0  21/05/2016  6549
16  17      Dulce      Abril  Female  United States  34.0  15/10/2019  1564
17  18       Mara  Hashimoto  Female  Great Britain  27.0  16/08/2018  1584
18  19     Philip       Gent    Male         France  38.0  21/05/2017  2589
19  20   Kathleen     Hanner  Female  United States  27.0  15/10/2019  3551

In [2]:
df = data.expect_column_values_to_be_in_set('Age', ['Male', 'Female'])
df

{
  "result": {
    "element_count": 20,
    "missing_count": 2,
    "missing_percent": 10.0,
    "unexpected_count": 18,
    "unexpected_percent": 100.0,
    "unexpected_percent_total": 90.0,
    "unexpected_percent_nonmissing": 100.0,
    "partial_unexpected_list": [
      32.0,
      25.0,
      36.0,
      25.0,
      58.0,
      24.0,
      56.0,
      27.0,
      40.0,
      26.0,
      26.0,
      57.0,
      28.0,
      41.0,
      34.0,
      27.0,
      38.0,
      27.0
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "meta": {}
}

In [3]:
data.get_expectation_suite()

{
  "expectation_suite_name": "default",
  "ge_cloud_id": null,
  "expectations": [],
  "data_asset_type": "Dataset",
  "meta": {
    "great_expectations_version": "0.14.9"
  }
}

In [4]:
import json

with open("my_expectation_file.json", 'w') as my_file:
    my_file.write(
    json.dumps(data.get_expectation_suite().to_json_dict())
    )

In [5]:
import pandas as pd
df = pd.DataFrame(data)
df1 = ge.from_pandas(
    df
)
df1

     0 First Name  Last Name  Gender        Country   Age        Date    Id
0    1      Dulce      Abril  Female  United States  32.0  15/10/2017  1562
1    2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582
2    3     Philip       Gent    Male         France  36.0  21/05/2015  2587
3    4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549
4    5    Nereida    Magwood  Female  United States  58.0  16/08/2016  2468
5    6     Gaston      Brumm    Male  United States  24.0  21/05/2015  2554
6    7       Etta       Hurn  Female  Great Britain  56.0  15/10/2017  3598
7    8    Earlean     Melgar  Female  United States  27.0  16/08/2016  2456
8    9   Vincenza    Weiland  Female  United States  40.0  21/05/2015  6548
9   10      Dulce      Abril  Female  United States   NaN  15/10/2018  1563
10  11       Mara  Hashimoto  Female  Great Britain  26.0  16/08/2017  1583
11  12     Philip       Gent    Male         France   NaN  21/05/2016  2588
12  13   Kathleen     Hanner  Female  United States  26.0  15/10/2018  3550
13  14       Etta       Hurn  Female  Great Britain  57.0  15/10/2018  3599
14  15    Earlean     Melgar  Female  United States  28.0  16/08/2017  2457
15  16   Vincenza    Weiland  Female  United States  41.0  21/05/2016  6549
16  17      Dulce      Abril  Female  United States  34.0  15/10/2019  1564
17  18       Mara  Hashimoto  Female  Great Britain  27.0  16/08/2018  1584
18  19     Philip       Gent    Male         France  38.0  21/05/2017  2589
19  20   Kathleen     Hanner  Female  United States  27.0  15/10/2019  3551

In [6]:
df1.loc[0:3]

   0 First Name  Last Name  Gender        Country   Age        Date    Id
0  1      Dulce      Abril  Female  United States  32.0  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582
2  3     Philip       Gent    Male         France  36.0  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549

In [7]:
df.head()

   0 First Name  Last Name  Gender        Country   Age        Date    Id
0  1      Dulce      Abril  Female  United States  32.0  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582
2  3     Philip       Gent    Male         France  36.0  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States  58.0  16/08/2016  2468

In [8]:
df1.expect_column_values_to_be_between("Age", max_value=50, min_value= 10)

{
  "result": {
    "element_count": 20,
    "missing_count": 2,
    "missing_percent": 10.0,
    "unexpected_count": 3,
    "unexpected_percent": 16.666666666666664,
    "unexpected_percent_total": 15.0,
    "unexpected_percent_nonmissing": 16.666666666666664,
    "partial_unexpected_list": [
      58.0,
      56.0,
      57.0
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "meta": {}
}

In [9]:
df1.expect_column_values_to_be_unique("First Name")

{
  "result": {
    "element_count": 20,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 18,
    "unexpected_percent": 90.0,
    "unexpected_percent_total": 90.0,
    "unexpected_percent_nonmissing": 90.0,
    "partial_unexpected_list": [
      "Dulce",
      "Mara",
      "Philip",
      "Kathleen",
      "Etta",
      "Earlean",
      "Vincenza",
      "Dulce",
      "Mara",
      "Philip",
      "Kathleen",
      "Etta",
      "Earlean",
      "Vincenza",
      "Dulce",
      "Mara",
      "Philip",
      "Kathleen"
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "meta": {}
}

In [10]:
context = ge.get_context()
context

Cannot initialize datasource userdetails: Cannot initialize datasource userdetails, error: Couldn't instantiate class: SimpleSqlalchemyDatasource with config:
	introspection		{'whole_table': {'class_name': 'InferredAssetSqlDataConnector', 'module_name': 'great_expectations.datasource.data_connector'}}
	credentials		{'drivername': 'postgresql', 'username': 'postgres', 'password': 'sunny123', 'host': 'localhost', 'port': 5432, 'database': 'postgre_flask'}
	name		userdetails

dict() got multiple values for keyword argument 'class_name'

TypeError: <great_expectations.data_context.types.base.DatasourceConfig object at 0x7f10c9efd700> is of type DatasourceConfig which cannot be serialized.

In [11]:
config = """class_name: SimpleSqlalchemyDatasource
credentials:    
    drivername: postgresql
    username: postgres
    password: "sunny123"
    host: localhost
    port: 5432
    database: postgre_flask
introspection:
    whole_table: {}
"""

In [12]:
config

'class_name: SimpleSqlalchemyDatasource\ncredentials:    \n    drivername: postgresql\n    username: postgres\n    password: "sunny123"\n    host: localhost\n    port: 5432\n    database: postgre_flask\nintrospection:\n    whole_table: {}\n'

In [13]:
context.test_yaml_config(
    name="userdetails",
    yaml_config=config
)

Attempting to instantiate class from config...
	Instantiating as a Datasource, since class_name is SimpleSqlalchemyDatasource
	Successfully instantiated SimpleSqlalchemyDatasource


ExecutionEngine class name: SqlAlchemyExecutionEngine
Data Connectors:
	whole_table : InferredAssetSqlDataConnector

	Available data_asset_names (2 of 2):
		employee (1 of 1): [{}]
		user_details (1 of 1): [{}]

	Unmatched data_references (0 of 0):[]

In [14]:
import pandas as pd
from ruamel import yaml

import great_expectations as ge
from great_expectations import DataContext
from great_expectations.core import ExpectationSuite
from great_expectations.core.batch import RuntimeBatchRequest
from great_expectations.validator.validator import Validator

DataContext = ge.get_context()
DataContext

Cannot initialize datasource userdetails: Cannot initialize datasource userdetails, error: Couldn't instantiate class: SimpleSqlalchemyDatasource with config:
	introspection		{'whole_table': {'class_name': 'InferredAssetSqlDataConnector', 'module_name': 'great_expectations.datasource.data_connector'}}
	credentials		{'drivername': 'postgresql', 'username': 'postgres', 'password': 'sunny123', 'host': 'localhost', 'port': 5432, 'database': 'postgre_flask'}
	name		userdetails

dict() got multiple values for keyword argument 'class_name'

TypeError: <great_expectations.data_context.types.base.DatasourceConfig object at 0x7f10c9e47490> is of type DatasourceConfig which cannot be serialized.

In [15]:
suite: ExpectationSuite = context.get_expectation_suite(
    expectation_suite_name="my_expectation_suite5"
)

In [16]:
datasource_yaml = f"""
name: my_pandas_datasource
class_name: Datasource
module_name: great_expectations.datasource
execution_engine:
  module_name: great_expectations.execution_engine
  class_name: PandasExecutionEngine
data_connectors:
    my_runtime_data_connector:
        class_name: RuntimeDataConnector
        batch_identifiers:
            - some_key_maybe_pipeline_stage
            - some_other_key_maybe_airflow_run_id
"""

datasource_yaml

'\nname: my_pandas_datasource\nclass_name: Datasource\nmodule_name: great_expectations.datasource\nexecution_engine:\n  module_name: great_expectations.execution_engine\n  class_name: PandasExecutionEngine\ndata_connectors:\n    my_runtime_data_connector:\n        class_name: RuntimeDataConnector\n        batch_identifiers:\n            - some_key_maybe_pipeline_stage\n            - some_other_key_maybe_airflow_run_id\n'

In [17]:
context.add_datasource(**yaml.load(datasource_yaml))

/tmp/ipykernel_10480/2045274942.py:1: UnsafeLoaderWarning:
The default 'Loader' for 'load(stream)' without further arguments can be unsafe.
Use 'load(stream, Loader=ruamel.yaml.Loader)' explicitly if that is OK.
Alternatively include the following in your code:

  import warnings
  warnings.simplefilter('ignore', ruamel.yaml.error.UnsafeLoaderWarning)

In most other cases you should consider using 'safe_load(stream)'
  context.add_datasource(**yaml.load(datasource_yaml))

In [18]:
path_to_file = "/home/vy/sample.xls"

In [19]:
pd.DataFrame = pd.read_excel(path_to_file)

In [20]:
df = pd.DataFrame

In [21]:
df

     0 First Name  Last Name  Gender        Country   Age        Date    Id
0    1      Dulce      Abril  Female  United States  32.0  15/10/2017  1562
1    2       Mara  Hashimoto  Female  Great Britain  25.0  16/08/2016  1582
2    3     Philip       Gent    Male         France  36.0  21/05/2015  2587
3    4   Kathleen     Hanner  Female  United States  25.0  15/10/2017  3549
4    5    Nereida    Magwood  Female  United States  58.0  16/08/2016  2468
5    6     Gaston      Brumm    Male  United States  24.0  21/05/2015  2554
6    7       Etta       Hurn  Female  Great Britain  56.0  15/10/2017  3598
7    8    Earlean     Melgar  Female  United States  27.0  16/08/2016  2456
8    9   Vincenza    Weiland  Female  United States  40.0  21/05/2015  6548
9   10      Dulce      Abril  Female  United States   NaN  15/10/2018  1563
10  11       Mara  Hashimoto  Female  Great Britain  26.0  16/08/2017  1583
11  12     Philip       Gent    Male         France   NaN  21/05/2016  2588
12  13   Kathleen     Hanner  Female  United States  26.0  15/10/2018  3550
13  14       Etta       Hurn  Female  Great Britain  57.0  15/10/2018  3599
14  15    Earlean     Melgar  Female  United States  28.0  16/08/2017  2457
15  16   Vincenza    Weiland  Female  United States  41.0  21/05/2016  6549
16  17      Dulce      Abril  Female  United States  34.0  15/10/2019  1564
17  18       Mara  Hashimoto  Female  Great Britain  27.0  16/08/2018  1584
18  19     Philip       Gent    Male         France  38.0  21/05/2017  2589
19  20   Kathleen     Hanner  Female  United States  27.0  15/10/2019  3551

In [22]:

batch_request = RuntimeBatchRequest(
    datasource_name="my_pandas_datasource",
    data_connector_name="my_runtime_data_connector",
    data_asset_name="insert_your_data_asset_name_here",
    runtime_parameters={"path": path_to_file},
    batch_identifiers={
        "some_key_maybe_pipeline_stage": "ingestion step 1",
        "some_other_key_maybe_airflow_run_id": "run 18",
    },
    batch_spec_passthrough={
        "reader_method": "read_excel",
        "reader_options": {"sep": ",", "header": 0},
    },
)

In [23]:
batch_request

{
  "datasource_name": "my_pandas_datasource",
  "data_connector_name": "my_runtime_data_connector",
  "data_asset_name": "insert_your_data_asset_name_here",
  "runtime_parameters": {
    "path": "/home/vy/sample.xls"
  },
  "batch_identifiers": {
    "some_key_maybe_pipeline_stage": "ingestion step 1",
    "some_other_key_maybe_airflow_run_id": "run 18"
  },
  "batch_spec_passthrough": {
    "reader_method": "read_excel",
    "reader_options": {
      "sep": ",",
      "header": 0
    }
  }
}

In [24]:
context.create_expectation_suite(
    expectation_suite_name="my_expectation_suite5", overwrite_existing=True
)

validator = context.get_validator(
    batch_request=batch_request, expectation_suite_name="my_expectation_suite5"
)
validator.head()

TypeError: read_excel() got an unexpected keyword argument 'sep'

In [ ]:
my_validator.head()

In [ ]:
#manually added postgres for testing
expectations_postgres_store: 
stores:
    expectations_postgres_store:
        class_name: ExpectationsStore
	store_backend:
	    class_name: DatabaseStoreBackend
	    credentails: ${db_creds}      #till this line