In [2]:
import great_expectations as ge 
import pandas as pd
data  = ge.get_context()
data

{
  "anonymous_usage_statistics": {
    "explicit_id": true,
    "explicit_url": false,
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "enabled": true,
    "data_context_id": "4d12a179-649b-46d6-8319-adcb30eb7600"
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/data_docs/local_site/"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

In [6]:
datasource_config = {    
                "name": "taxi_datasource",    
                "class_name": "Datasource",    
                "module_name": "great_expectations.datasource",    
                "execution_engine": {        
                    "module_name": "great_expectations.execution_engine",        
                    "class_name": "PandasExecutionEngine",    
                },    
                "data_connectors": {        
                    "default_runtime_data_connector_name": {            
                        "class_name": "RuntimeDataConnector",            
                        "module_name": "great_expectations.datasource.data_connector",            
                        "batch_identifiers": ["default_identifier_name"],        
                    },        
                    "default_inferred_data_connector_name": {            
                        "class_name": "InferredAssetFilesystemDataConnector",            
                        "base_directory": "/home/vy/sample.xls",            
                        "default_regex": {"group_names": ["data_asset_name"], "pattern": "(.*)"},        
                    },    
                },
            }

datasource_config

{'name': 'taxi_datasource',
 'class_name': 'Datasource',
 'module_name': 'great_expectations.datasource',
 'execution_engine': {'module_name': 'great_expectations.execution_engine',
  'class_name': 'PandasExecutionEngine'},
 'data_connectors': {'default_runtime_data_connector_name': {'class_name': 'RuntimeDataConnector',
   'module_name': 'great_expectations.datasource.data_connector',
   'batch_identifiers': ['default_identifier_name']},
  'default_inferred_data_connector_name': {'class_name': 'InferredAssetFilesystemDataConnector',
   'base_directory': '/home/vy/sample.xls',
   'default_regex': {'group_names': ['data_asset_name'], 'pattern': '(.*)'}}}}

In [9]:
from ruamel import yaml
from great_expectations.core.batch import BatchRequest, RuntimeBatchRequest
data.test_yaml_config(yaml.dump(datasource_config))

Attempting to instantiate class from config...
	Instantiating as a Datasource, since class_name is Datasource
	Successfully instantiated Datasource


ExecutionEngine class name: PandasExecutionEngine
Data Connectors:
	default_inferred_data_connector_name : InferredAssetFilesystemDataConnector

	Available data_asset_names (0 of 0):

	Unmatched data_references (0 of 0):[]

	default_runtime_data_connector_name:RuntimeDataConnector

	Available data_asset_names (0 of 0):
		Note : RuntimeDataConnector will not have data_asset_names until they are passed in through RuntimeBatchRequest

	Unmatched data_references (0 of 0): []

In [10]:
batch_request = RuntimeBatchRequest(
        datasource_name="taxi_datasource",    
        data_connector_name="default_runtime_data_connector_name",    
        data_asset_name="sample_testing",  # This can be anything that identifies this data_asset for you    
        runtime_parameters={"path": "/home/vy/sample.xls"},  # Add your path here.    
        batch_identifiers={"default_identifier_name": "default_identifier"},)

In [14]:
data.create_expectation_suite(    
    expectation_suite_name="test_suite", 
    overwrite_existing=True)
validator = data.get_validator(    
    batch_request=batch_request, expectation_suite_name="test_suite")
df = (validator.head(n_rows=10))
df

Calculating Metrics: 100%|██████████| 1/1 [00:00<00:00, 108.74it/s]

    0 First Name  Last Name  Gender        Country  Age        Date    Id
0   1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1   2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2   3     Philip       Gent    Male         France   36  21/05/2015  2587
3   4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4   5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5   6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6   7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7   8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8   9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548
9  10      Dulce      Abril  Female  United States   50  15/10/2018  1563

In [16]:
df = data.expect_column_values_to_be_in_set('Age', ['Male', 'Female'])
df

AttributeError: 'DataContext' object has no attribute 'expect_column_values_to_be_in_set'