In [14]:
from ruamel import yaml

import great_expectations as ge
from great_expectations.core.batch import BatchRequest, RuntimeBatchRequest

In [15]:
context = ge.get_context()

Cannot initialize datasource userdetails: Cannot initialize datasource userdetails, error: Couldn't instantiate class: SimpleSqlalchemyDatasource with config:
	introspection		{'whole_table': {'class_name': 'InferredAssetSqlDataConnector', 'module_name': 'great_expectations.datasource.data_connector'}}
	credentials		{'drivername': 'postgresql', 'username': 'postgres', 'password': 'sunny123', 'host': 'localhost', 'port': 5432, 'database': 'postgre_flask'}
	name		userdetails

dict() got multiple values for keyword argument 'class_name'

In [16]:
datasource_config = {
    "name": "taxi_datasource",
    "class_name": "Datasource",
    "module_name": "great_expectations.datasource",
    "execution_engine": {
        "module_name": "great_expectations.execution_engine",
        "class_name": "PandasExecutionEngine",
    },
    "data_connectors": {
        "default_runtime_data_connector_name": {
            "class_name": "RuntimeDataConnector",
            "module_name": "great_expectations.datasource.data_connector",
            "batch_identifiers": ["default_identifier_name"],
        },
        "default_inferred_data_connector_name": {
            "class_name": "InferredAssetFilesystemDataConnector",
            "base_directory": "/home/vy/new.xlsx",
            "default_regex": {"group_names": ["data_asset_name"], "pattern": "(.*)"},
        },
    },
}

In [17]:
datasource_config

{'name': 'taxi_datasource',
 'class_name': 'Datasource',
 'module_name': 'great_expectations.datasource',
 'execution_engine': {'module_name': 'great_expectations.execution_engine',
  'class_name': 'PandasExecutionEngine'},
 'data_connectors': {'default_runtime_data_connector_name': {'class_name': 'RuntimeDataConnector',
   'module_name': 'great_expectations.datasource.data_connector',
   'batch_identifiers': ['default_identifier_name']},
  'default_inferred_data_connector_name': {'class_name': 'InferredAssetFilesystemDataConnector',
   'base_directory': '/home/vy/new.xlsx',
   'default_regex': {'group_names': ['data_asset_name'], 'pattern': '(.*)'}}}}

In [18]:
context.test_yaml_config(yaml.dump(datasource_config))

Attempting to instantiate class from config...
	Instantiating as a Datasource, since class_name is Datasource
	Successfully instantiated Datasource


ExecutionEngine class name: PandasExecutionEngine
Data Connectors:
	default_inferred_data_connector_name : InferredAssetFilesystemDataConnector

	Available data_asset_names (0 of 0):

	Unmatched data_references (0 of 0):[]

	default_runtime_data_connector_name:RuntimeDataConnector

	Available data_asset_names (0 of 0):
		Note : RuntimeDataConnector will not have data_asset_names until they are passed in through RuntimeBatchRequest

	Unmatched data_references (0 of 0): []

In [19]:
context.test_yaml_config(yaml.dump(datasource_config))

Attempting to instantiate class from config...
	Instantiating as a Datasource, since class_name is Datasource
	Successfully instantiated Datasource


ExecutionEngine class name: PandasExecutionEngine
Data Connectors:
	default_inferred_data_connector_name : InferredAssetFilesystemDataConnector

	Available data_asset_names (0 of 0):

	Unmatched data_references (0 of 0):[]

	default_runtime_data_connector_name:RuntimeDataConnector

	Available data_asset_names (0 of 0):
		Note : RuntimeDataConnector will not have data_asset_names until they are passed in through RuntimeBatchRequest

	Unmatched data_references (0 of 0): []

In [20]:
context.add_datasource(**datasource_config)

In [21]:
batch_request = RuntimeBatchRequest(
    datasource_name="taxi_datasource",
    data_connector_name="default_runtime_data_connector_name",
    data_asset_name="<YOUR_MEANINGFUL_NAME>",  # This can be anything that identifies this data_asset for you
    runtime_parameters={"path": "/home/vy/new.xlsx"},  # Add your path here.
    batch_identifiers={"default_identifier_name": "default_identifier"},
)

In [22]:
context.create_expectation_suite(
    expectation_suite_name="test_suite", overwrite_existing=True
)
validator = context.get_validator(
    batch_request=batch_request, expectation_suite_name="test_suite"
)
print(validator.head())

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

   Unnamed: 0  0 First Name  Last Name  Gender        Country  Age  \
0           0  1      Dulce      Abril  Female  United States   32
1           1  2       Mara  Hashimoto  Female  Great Britain   25
2           2  3     Philip       Gent    Male         France   36
3           3  4   Kathleen     Hanner  Female  United States   25
4           4  5    Nereida    Magwood  Female  United States   58

         Date    Id        Full Name
0  15/10/2017  1562      Dulce Abril
1  16/08/2016  1582   Mara Hashimoto
2  21/05/2015  2587      Philip Gent
3  15/10/2017  3549  Kathleen Hanner
4  16/08/2016  2468  Nereida Magwood

In [32]:
import pandas as pd
df = pd.DataFrame(validator.head(10))

df

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Unnamed: 0,0,First Name,Last Name,Gender,Country,Age,Date,Id,Full Name
0,0,1,Dulce,Abril,Female,United States,32,15/10/2017,1562,Dulce Abril
1,1,2,Mara,Hashimoto,Female,Great Britain,25,16/08/2016,1582,Mara Hashimoto
2,2,3,Philip,Gent,Male,France,36,21/05/2015,2587,Philip Gent
3,3,4,Kathleen,Hanner,Female,United States,25,15/10/2017,3549,Kathleen Hanner
4,4,5,Nereida,Magwood,Female,United States,58,16/08/2016,2468,Nereida Magwood
5,5,6,Gaston,Brumm,Male,United States,24,21/05/2015,2554,Gaston Brumm
6,6,7,Etta,Hurn,Female,Great Britain,56,15/10/2017,3598,Etta Hurn
7,7,8,Earlean,Melgar,Female,United States,27,16/08/2016,2456,Earlean Melgar
8,8,9,Vincenza,Weiland,Female,United States,40,21/05/2015,6548,Vincenza Weiland

{
  "expectation_suite_name": "ExpectationConfiguration",
  "expectations": [],
  "ge_cloud_id": null,
  "data_asset_type": null,
  "meta": {
    "great_expectations_version": "0.14.9"
  }
}

In [37]:
ExpectationConfiguration = context.create_expectation_suite(
    expectation_suite_name="ExpectationConfiguration", overwrite_existing=True
)
expectation_configuration = ExpectationConfiguration(
    expectation_type="expect_table_columns_to_match_ordered_list",
    
    kwargs = {
        "column_list": [
            "First Name", "Last Name", "Gender", "Country", "Age", "Date","Id"
        ]
    },
    
)

suite.add_expectation(expectation_configuration = expectation_configuration)

TypeError: 'ExpectationSuite' object is not callable